{% extends 'base.html.twig' %}

{% block title %}Language Response{% endblock %}

{% block body %}
    <h1>Response</h1>

    <h3>Language: {{ language }}</h3>
    <h3>Code: {{ code }}</h3>
    <h3>Words: {{ count }}</h3>
    <h3>Match: {{ match }} of {{ count }}</h3>
    <h3>Execution time: {{ time }}</h3>
    <form action="{{ path('index') }}" method="get">
        <input type="hidden" value="Back">
        <button type="button">Back</button>
    </form>
{% endblock %}